@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #121212;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-width: 320px;
	min-height: 100vh;
	background-color: #101010;
	font-family: 'Josefin Sans', sans-serif;
}

label {
	user-select: none;
}

.canvas-grid {
	background-size: 50px 50px;
	background-image: linear-gradient(to right, #393939 1px, transparent 1px),
		linear-gradient(to bottom, #393939 1px, transparent 1px);
}

.hint-grid {
	background-size: 10px 10px;
	background-image: linear-gradient(to right, #890757 1px, transparent 1px),
		linear-gradient(to bottom, #890757 1px, transparent 1px);
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.4rem;
}

h4 {
	font-size: 1.2rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 0.8rem;
}

input[type='color'] {
	position: relative;
	padding: 0;
}
/* 
input[type='color']::before {
	content: '';
	position: absolute;
	inset: 0;
	border-radius: 50px;
	padding: 4.5px 2.5px;
	background: linear-gradient(45deg, red, blue);
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
} */

input[type='color'] {
	position: relative;
	left: -0.1rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	width: 3.5rem;
	height: 2.5rem;
	cursor: pointer;
}

input[type='color']::-webkit-color-swatch {
	border: double 3px transparent;
	border-radius: 0.25rem;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #1d1d1d;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

/* Scrollbar */

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #4e4e4e;
	border-radius: 10px;
}

::-webkit-scrollbar {
	width: 5px;
	background-color: #363636;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	/* background-image: linear-gradient(to top, #b1086d 28%, #6a08b1 84%); */
	background-color: #b1086d;
	cursor: pointer;
}
